bottle==0.12.18
cffi==1.14.4
cryptography==3.2.1
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
pycparser==2.20
six==1.15.0
zope.event==4.5.0
zope.interface==5.2.0
rethinkdb
pyjwt
phonenumbers==8.12.12
Werkzeug
